blinker
certifi
chromadb
click
Flask
google-genai
httpx
itsdangerous
Jinja2
langchain
langchain-chroma
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langgraph
langgraph-checkpoint
MarkupSafe
numpy
pydantic
pydantic_core
pypdf
python-dotenv
requests
SQLAlchemy
tenacity
typing_extensions
Werkzeug